/* common */
* { margin: 0; padding: 0; } 
*::selection{ background-color: red; color: #fff; }
ul, li { list-style: none; } 
a { text-decoration: none; color: #000; } 
img { display: block; width: 100%; height: 100%; border: 0; object-fit: cover; } 



/* wrap, align */
.wrap { position: relative; width: 100%; overflow: hidden; } 
.align { width: 1700px; margin: 0 auto; } 



/* header */
header { position: absolute; top: 0; left: 0; width: 100%; height: 72px; background-color: #fff; z-index: 1; } 
.header { height: 100%; } 
.header .logo { float: left; width: 69px; height: 24px; position: relative; top: 50%; transform: translateY(-50%); margin-right: 40px; } 
.header ul { float: left; line-height: 72px; } 
.header ul li { float: left; margin-right: 20px; } 
.header ul li a { color: #999; } 
.header ul li a:hover { color: #000; } 
.header .btn { float: right; position: relative; top: 50%; transform: translateY(-50%); } 
.header .btn i { font-size: 24px; }
.header .btn i:hover{ color: #999; }



/* .service */
.service{ position: fixed; right: 0; top: 35%; width: 50px; height: 200px; z-index: 1; }
.service:hover li .sub{ left: -130px }
.service li{ position: relative; }
.service li:hover a{ background-color: #333; }
.service li a{ display: flex; width: 100%; height: 50px; align-items: center; justify-content: center; background-color: #000; }
.service li a img{ width: 24px; height: 24px; }
.service li:nth-child(3) a img{ width: 35px; height: 35px; }
.service li .sub{ position: absolute; top: 0; left: 0; width: 130px; z-index: -1; transition: all .3s; }
.service li ul li a{ display: block; text-align: start; line-height: 50px; box-sizing: border-box; padding-left: 20px; font-size: 14px; color: #fff; }



/* sec1 */
.sec1 { position: relative; } 
.sec1__text { position: absolute; bottom: 280px; left: 200px; color: white; } 
.sec1__text h1 { font-size: 44px; margin-bottom: 10px; } 
.sec1__text h3 { margin-bottom: 20px; } 
.sec1__text a { display: block; width: 150px; line-height: 58px; background-color: white; text-align: center; transition: 0.3s; }
.sec1__text a:hover { background-color: rgb(217, 217, 217); } 
.model { width: 100%; height: 90px; background-color: #4c4c4c; } 
.model .align { height: 100%; display: flex; align-items: center; color: white; } 
.model .align h3 { margin-right: 30px; } 
.model .align div { margin-right: 30px; } 
.model .align div p { font-size: 13px; color: #b3b3b3; margin-bottom: 3px; } 
.model .align div select { width: 300px; background-color: transparent; border: 0; outline: 0; font-size: 16px; color: #fff; border-bottom: 1px solid #fff; padding-bottom: 10px; cursor: pointer; } 
.model .align div select:hover { border-bottom: 2px solid #fff; } 
.model .align div select option{ color: #333; }
.model .align a { width: 137px; color: white; display: flex; align-items: center; justify-content: space-between; } 
.model .align a:hover { color: rgb(217, 217, 217); } 



/* sec2 */
.sec2 { margin: 80px 0; }
.sec2 .swiper{ position: relative; }
.sec2 .tabbox{ margin-bottom: 30px; }
.sec2 .tabbox .tab{ position: relative; color: #6c6c6c; margin-right: 20px; cursor: pointer; }
.sec2 .tabbox .tab:hover{ color: #9c9c9c; }
.sec2 .tabbox .tab.on{ color: #000; pointer-events: none; }
.sec2 .tabbox .tab.on::after{ content: ''; position: absolute; bottom: 0; left: 0; width: 100%; height: 1px; background-color: #000; }
.sec2 .box{ display: none; }
.sec2 .box.on{ display: flex; }
.sec2 .box a{ display: block; width: 210px; }
.sec2 .box a:hover img{ transform: scale(1.05); }
.sec2 .box a:hover span{ font-weight: 700; text-decoration: underline; color: #333; }
.sec2 .box a img{ height: 90px; transition: all .3s; }
.sec2 .box a span{ display: block; text-align: center; }
.sec2 .box .swiper-wrapper .swiper-slide{ display: flex; justify-content: space-between; box-sizing: border-box; padding: 0 50px; }



/* sec3 */
.sec3{ position: relative; width: 100%; height: 100vh; overflow: hidden; background-image: url(../img/sec3/highway.jpg); background-position: center; background-repeat: no-repeat; background-size: cover; }
.sec3 .audi{ position: absolute; top: 32%; left: 50%; transform: translateX(-50%); width: 800px; height: auto; }
.sec3 h1{ position: absolute; top: 50%; transform: translateY(-50%); left: 0; width: 100%; text-align: center; color: #000; font-size: 100px; }
.sec3 .bg{ position: absolute; top: 0; left: 0; width: 100%; height: 100%; background-color: #fff; opacity: .8; }
