@media (min-width:1201px) and (max-width: 1351px) {
    /* 1320px 기준 */



    /* 공통 */
    button {
        border: 0;
        outline: 0;
        cursor: pointer;
    }

    #wrap {
        width: 100%;
        overflow: hidden;
    }

    .align {
        width: 1320px;
        margin: 0 auto;
    }

    .svgs{
        width: 65px;
        height: 65px;
        margin-left: 10px;
    }

    #couple_img{
        width: 60px;
        height: 60px;
    }



    /* body */
    header {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 150px;
        z-index: 111111;
        overflow: hidden;
        background-color: transparent;
    }

    header>div:first-child{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 80px;
        background-color: rgba(0, 0, 0, .2);
        z-index: -111;
    }

    .header_align {
        width: 95%;
        height: 80px;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .header_align>img {
        width: 105px;
        height: auto;
    }

    #header_right {
        display: flex;
        height: 100%;
        align-items: center;
        z-index: 3333333333;
    }

    #header_right>p {
        color: rgba(255, 255, 255, 1);
        font-weight: bolder;
        cursor: pointer;
        margin-left: 15px;
    }

    #header_right>p:hover {
        color: rgba(255, 255, 255, .6);
    }

    #pc_searchbtn {
        width: 27px;
        height: 27px;
        cursor: pointer;
        margin-left: 15px;
    }

    #pc_menu {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        text-align: center;
        display: flex;
        justify-content: center;
    }

    .pc_menu {
        width: 95px;
        cursor: pointer;
    }

    .pc_menu>a {
        line-height: 80px;
        color: rgba(255, 255, 255, 1);
        font-weight: bolder;
        font-size: 17px;
    }

    .pc_menu:hover>a {
        color: rgba(255, 255, 255, .6);
    }

    .pc_submenu {
        position: absolute;
        top: 80px;
        left: 0;
        width: 100%;
        background-color: var(--blue);
        display: flex;
        justify-content: center;
        display: none;
    }

    .pc_submenu>li>a {
        color: rgba(255, 255, 255, 1);
        font-weight: bolder;
        font-size: 17px;
        margin: 0 20px;
        line-height: 70px;
    }

    .pc_submenu>li:hover>a {
        color: rgba(255, 255, 255, .6);
    }



    /* pc_search */
    #pc_searchwrap {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, .6);
        z-index: 9999999;
        display: flex;
        align-items: center;
        justify-content: center;
        display: none;
    }

    #pc_searchbox {
        position: relative;
        width: 1000px;
        height: 720px;
        background-color: #fff;
        border-radius: 10px;
        border: 1px solid #767676;
        box-sizing: border-box;
        padding: 100px 30px;
        text-align: center;
    }

    #closeBtn1 {
        position: absolute;
        top: 50px;
        right: 40px;
        width: 30px;
        height: 30px;
        cursor: pointer;
    }

    #closeBtn1>img {
        height: 100%;
    }

    #pc_searchbox>h1 {
        width: 100%;
        text-align: center;
        font-size: 40px;
        margin-bottom: 40px;
    }

    #pc_inputbox {
        position: relative;
        width: 460px;
        margin: 0 auto;
        margin-bottom: 50px;
    }

    #pc_inputbox>input {
        border: 0;
        outline: none;
        background-color: #f5f5f5;
        color: #999999;
        width: 100%;
        height: 60px;
        box-sizing: border-box;
        padding-left: 20px;
        font-size: 17px;
    }

    #pc_inputbox>img {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 20px;
        width: 27px;
        height: auto;
        cursor: pointer;
    }

    #pc_searchbox>p {
        font-size: 17px;
        font-weight: bold;
        color: #999999;
        pointer-events: none;
        margin-bottom: 20px;
    }

    #popular1 {
        width: 100%;
        overflow: hidden;
        display: flex;
        justify-content: space-between;
    }

    .popular1_box {
        position: relative;
        cursor: pointer;
    }

    .popular1_box>div {
        width: 230px;
        height: 300px;
        border-radius: 8px;
        overflow: hidden;
    }

    .popular1_box>div>img {
        height: 100%;
    }

    .popular1_box:hover>div>img {
        transform: scale(1.03);
    }

    .popular1_box>h1 {
        position: absolute;
        left: 20px;
        bottom: 10px;
        color: #fff;
        font-size: 35px;
    }



    /* tab,moblie */
    #tab_menu{
        display: none;
    }
    #tab_menucon{
        display: none;
    }
    .footer_top>.left2{
        display: none;
    }
    .sec6_mobile2{
        display: none;
    }
    #sec2_selectbox2{
        display: none;
    }
    #sec2_slidetext{
        display: none;
    }
    .menudot{
        display: none;
    }



    /* sec1 */
    #sec1 {
        width: 100%;
        height: 100vh;
        margin-bottom: 200px;
        overflow: hidden;
    }

    .sec1_con>img {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        z-index: -11;
    }

    .sec1_align {
        width: 95%;
        padding-top: 250px;
    }

    .sec1_align>p {
        font-size: 60px;
        font-weight: bolder;
        color: #fff;
        pointer-events: none;
        font-family: 'Black Han Sans', sans-serif;
        font-weight: lighter;
    }

    #sec1_good {
        font-size: 60px;
        font-weight: bolder;
        color: var(--blue);
        font-family: 'Black Han Sans', sans-serif;
        font-weight: lighter;
    }

    .sec1_align>p:nth-child(2) {
        margin-bottom: 40px;
    }

    .sec1_align>p:nth-child(3) {
        font-size: 20px;
        color: #fff;
        margin-bottom: 50px;
        pointer-events: none;
        font-family: 'Noto Sans KR', sans-serif;
        font-weight: bolder;
    }

    .sec1_align>button {
        padding: 8px 25px;
        background-color: var(--blue);
        color: #fff;
        font-weight: bolder;
        border-radius: 5px;
    }

    .sec1_align>button:hover {
        background-color: #00a2ff;
    }

    #sec1_btncon {
        position: absolute;
        bottom: 80px;
        right: 0;
        left: 0;
        margin: 0 auto;
        width: 69.5%;
        z-index: 22;
        display: flex;
        justify-content: end;
    }

    .sec1_next,
    .sec1_prev {
        width: 50px;
        height: 50px;
        background-color: rgba(0, 0, 0, .4);
        border-radius: 50%;
        cursor: pointer;
        z-index: 1111;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .sec1_next>img,
    .sec1_prev>img {
        width: 30px;
        height: auto;
    }

    .sec1_next {
        margin-left: 40px;
    }

    .sec1_next:hover,
    .sec1_prev:hover {
        background-color: var(--blue);
    }

    #sec1_scrolltext {
        width: 100px;
        position: absolute;
        bottom: 20px;
        left: 0;
        right: 0;
        margin: 0 auto;
        z-index: 22;
        text-align: center;
        pointer-events: none;
        animation: scrolltext .5s infinite alternate;
    }

    #sec1_scrolltext>p {
        color: #fff;
    }

    #sec1_scrolltext>img {
        width: 30px;
        height: auto;
        margin: auto;
    }



    /* sec2 */
    #sec2 {
        position: relative;
        width: 100%;
        overflow: hidden;
        margin-bottom: 200px;
    }

    #sec2>.align{
        overflow: hidden;
    }

    #sec2>.align>p {
        font-family: 'Black Han Sans', sans-serif;
        font-weight: lighter;
        font-size: 60px;
        margin-bottom: 80px;
        display: flex;
    }

    #sec2_selectbox {
        position: relative;
        width: 100%;
        margin-bottom: 80px;
        display: flex;
        align-items: center;
    }

    select{
        border: 0;
        outline: 0;
        font-family: 'Black Han Sans', sans-serif;
        font-weight: lighter;
        width: 180px;
        height: 44px;
        font-size: 35px;
        cursor: pointer;
        box-sizing: border-box;
        border-bottom: 2px solid var(--blue);
        margin-right: 10px;
        color: var(--blue);
        padding-top: 3px;
    }

    option{
        color: #505050;
    }

    .select_after{
        margin-right: 30px;
        font-size: 30px;
        font-weight: bold;
    }

    #sec2_btn{
        position: absolute;
        right: 0;
        background-color: transparent;
        border: 2px solid var(--blue);
        color: var(--blue);
        border-radius: 10px;
        cursor: pointer;
        padding: 5px 25px;
        box-sizing: border-box;
        font-weight: bold;
        font-size: 23px;
    }
    #sec2_btn:hover{
        box-sizing: border-box;
        background-color: var(--blue);
        color: #fff;
    }

    .sec2_slide {
        position: relative;
        overflow: hidden;
        border: 1px solid rgba(0, 0, 0, .1);
        border-radius: 10px;
        box-sizing: border-box;
        cursor: pointer;
        text-align: center;
    }

    .sec2_slide:hover>div {
        opacity: 1;
    }

    .sec2_slide>div {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(1, 153, 241, .7);
        opacity: 0;
    }

    .sec2_slide>div>p {
        font-size: 40px;
        color: #fff;
        line-height: 599px;
    }

    .sec2_slide>img {
        height: 330px;
        margin-bottom: 25px;
    }

    .sec2_slide>p {
        margin-bottom: 25px;
    }

    .sec2_slide>p:nth-child(3) {
        color: var(--blue);
        font-size: 17px;
        font-weight: bold;
    }

    .sec2_slide>p:nth-child(4) {
        font-size: 25px;
    }

    .sec2_slide>p:nth-child(5) {
        font-size: 17px;
        color: #999999;
    }

    .sec2_slide>p:nth-child(6) {
        font-size: 40px;
        font-weight: bold;
    }

    .sec2_next,
    .sec2_prev {
        width: 60px;
        height: 60px;
        border: 1px solid black;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        position: absolute;
        top: 60%;
        z-index: 111;
    }

    .sec2_next:hover>img,
    .sec2_prev:hover>img {
        transform: scale(1.15);
    }

    .sec2_next>img,
    .sec2_prev>img {
        width: 40px;
        height: 40px;
        transition: all .2s;
    }

    .sec2_next {
        right: 8%;
    }

    .sec2_prev {
        left: 8%;
    }



    /* sec3 */
    #sec3 {
        position: relative;
        width: 100%;
        overflow: hidden;
        background-color: #f6f6f6;
        padding: 100px 0 200px 0;
        margin-bottom: 200px;
    }

    #sec3>.align {
        margin-bottom: 80px;
    }

    #sec3>.align>p {
        font-family: 'Black Han Sans', sans-serif;
    }

    #sec3>.align>p:first-child {
        font-size: 25px;
    }

    #sec3>.align>p:nth-child(2) {
        font-size: 60px;
        display: flex;
    }

    .sec3_swiper {
        box-sizing: border-box;
        padding: 0 30px;
    }

    .sec3_slide {
        position: relative;
        border-radius: 10px;
        overflow: hidden;
        cursor: pointer;
    }

    .sec3_slide:hover .sec3_hover {
        opacity: 1;
    }

    .sec3_textcon {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(rgba(0, 0, 0, .0), rgba(0, 0, 0, .2))
    }

    .sec3_text {
        position: absolute;
        left: 20px;
        bottom: 20px;
    }

    .sec3_text>p {
        color: #fff;
    }

    .sec3_text>p:first-child {
        font-size: 30px;
        font-weight: 900;
    }

    .sec3_text>p:nth-child(2) {
        font-weight: bold;
    }

    .sec3_slide>img {
        height: 480px;
    }

    .sec3_hover {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: var(--hoverblue);
        text-align: center;
        z-index: 333333;
        opacity: 0;
    }

    .sec3_hover>p {
        color: #fff;
        font-size: 30px;
        line-height: 480px;
    }



    /* sec4 */
    #sec4 {
        width: 100%;
        position: relative;
        overflow: hidden;
        padding-bottom: 200px;
        margin-bottom: 100px;
    }

    .sec4_align>p:first-child {
        font-family: 'Black Han Sans', sans-serif;
        font-size: 60px;
        margin-bottom: 10px;
        display: flex;
    }

    .sec4_align>p:nth-child(2) {
        color: #767676;
        font-weight: bold;
        font-size: 20px;
        margin-bottom: 80px;
    }

    #sec4_con {
        width: 100%;
        overflow: hidden;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        transition: all .8s ease-in-out;
    }

    .sec4_wide {
        position: relative;
        width: 60%;
        height: 450px;
        border-radius: 10px;
        overflow: hidden;
        cursor: pointer;
        margin-bottom: 13px;
    }

    .sec4_thin {
        position: relative;
        width: 39%;
        height: 450px;
        border-radius: 10px;
        overflow: hidden;
        cursor: pointer;
        margin-bottom: 13px;
    }

    .sec4_wide:hover .sec4_hover {
        opacity: 1;
    }

    .sec4_wide>img {
        height: 100%;
    }

    .sec4_hover {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: var(--hoverblue);
        text-align: center;
        z-index: 1111;
        opacity: 0;
    }

    .sec4_hover>p {
        color: #fff;
        font-size: 40px;
        line-height: 450px;
    }

    .sec4_text1 {
        position: absolute;
        top: 20px;
        left: 20px;
        pointer-events: none;
    }

    .sec4_text1>p {
        color: #fff;
        font-size: 18px;
    }

    .sec4_text2 {
        position: absolute;
        bottom: 20px;
        left: 20px;
        pointer-events: none;
    }

    .sec4_text2>p:first-child {
        color: #fff;
        font-size: 18px;
    }

    .sec4_text2>p:nth-child(2) {
        font-size: 35px;
        color: #fff;
    }

    .sec4_thin:hover .sec4_hover {
        opacity: 1;
    }

    .sec4_thin>img {
        height: 100%;
    }

    #sec4_more {
        position: absolute;
        left: 0;
        right: 0;
        margin: 0 auto;
        bottom: 100px;
        width: 150px;
        height: 40px;
        border: 2px solid var(--blue);
        color: var(--blue);
        background-color: transparent;
        border-radius: 10px;
        font-size: 18px;
        font-weight: bold;
    }

    #sec4_more:hover {
        border: 0;
        background-color: var(--blue);
        color: #fff;
    }



    /* sec5 */
    #sec5 {
        width: 100%;
        overflow: hidden;
        position: relative;
        margin-bottom: 200px;
    }

    .sec5_slide {
        position: relative;
        width: 100%;
        overflow: hidden;
    }

    .sec5_align {
        position: relative;
    }

    .sec5_textbox {
        position: absolute;
        top: 120px;
        left: 0;
        z-index: 1111;
    }

    .sec5_white {
        font-size: 60px;
        color: #fff;
    }

    .sec5_blue {
        font-size: 60px;
        color: var(--blue);
    }

    .sec5_textbox>p:nth-child(2) {
        margin-bottom: 40px;
    }

    .sec5_textbox>p:nth-child(3),
    .sec5_textbox>p:nth-child(4) {
        font-size: 18px;
        color: #fff;
    }

    .sec5_video {
        width: 100%;
        height: 700px;
        object-fit: cover;
    }

    #sec5_cover {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 700px;
        background-color: rgba(0, 0, 0, .2);
    }



    /* sec6 */
    #sec6 {
        position: relative;
        width: 100%;
        overflow: hidden;
        margin-bottom: 100px;
    }

    .sec6_align>p {
        font-family: 'Black Han Sans', sans-serif;
        font-weight: lighter;
        font-size: 60px;
        margin-bottom: 80px;
        display: flex;
    }
    
    .sec6_con{
        width: 100%;
        overflow: hidden;
        display: flex;
        justify-content: space-between;
    }
    .sec6_con a{
        position: relative;
        display: block;
        width: 32.5%;
        height: 380px;
        border-radius: 10px;
        overflow: hidden;
    }
    .sec6_con a>div{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, .2);
        text-align: center;
    }
    .sec6_con a>div>p{
        font-weight: 900;
        font-size: 35px;
        color: #fff;
    }
    .sec6_text1{
        line-height: 380px;
    }
    .sec6_text2{
        line-height: 180px;
    }
    .sec6_con a:hover>div{
        background-color: var(--hoverblue);
    }
    .sec6_con a>img{
        height: 100%;
    }
    .sec6_con>div{
        width: 32.5%;
    }
    .sec6_con>div>a{
        width: 100%;
        height: 180px;
    }
    .sec6_con>div>a:first-child{
        margin-bottom: 20px;
    }



    /* footer */
    footer {
        background-color: #f6f6f6;
        width: 100%;
        overflow: hidden;
        padding: 100px 0 80px 0;
    }

    footer p {
        color: #505050;
    }

    .footer_top {
        display: flex;
        justify-content: space-between;
        margin-bottom: 10px;
    }

    .footer_top>.left>a {
        color: #505050;
        margin-right: 10px;
    }

    .footer_top>.left>a:last-child {
        margin-right: 0;
    }

    .footer_top>.right>p {
        color: #000;
        font-weight: bold;
        margin-bottom: 10px;
    }

    .snsbox {
        display: flex;
    }

    .snsbox>a {
        width: 25px;
        height: 25px;
        margin-right: 10px;
    }

    .snsbox>a:last-child {
        margin-right: 0;
    }

    .snsbox>a>img {
        height: 100%;
    }

    .footer_mid {
        margin-bottom: 40px;
    }

    .addressbox {
        display: flex;
    }

    .addressbox>p:first-child {
        display: block;
        width: 100px;
        color: #000;
    }

    .footer_bot>p:nth-child(2) {
        color: #999999;
        font-size: 13px;
    }



    /* keyframes */
    @keyframes scrolltext {
        to{
            bottom: 30px;
        }
    }
}