@media (min-width: 451px) and (max-width:500px) {
    /* 공통 */
    #wrap{
        position: relative;
        width: 100%;
    }
    .align{
        position: relative;
        width: 95%;
        margin: 0 auto;
        overflow: hidden;
    }
    .bigsection{
        position: relative;
        width: 100%;
        overflow: hidden;
        background-color: #000;
        padding: 120px 0 120px 0;
        color: #fff;
        text-align: center;
    }
    .secname{
        font-family: 'Oswald', sans-serif;
        font-size: 20px;
        text-align: center;
        margin-bottom: 80px;
    }
    .morebtn{
        font-family: 'Oswald', sans-serif;
        font-size: 16px;
        color: #fff;
        text-decoration: underline;
        margin: 0 auto;
    }
    .morebtn:hover{
        color: #ff0000;
    }
    #scrollbtn{
        position: fixed;
        right: 2%;
        bottom: 40px;
        width: 40px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid #fff;
        border-radius: 50%;
        z-index: 9999999;
        box-sizing: border-box;
        padding: 5px;
        cursor: pointer;
        opacity: 0;
        transition: all .3s;
    }
    #scrollbtn>img{
        height: 100%;
    }



    /* body */
    /* header */
    header{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 120px;
        z-index: 999;
        transition: all .3s;
    }
    #header_align{
        height: 100%;
    }
    #menubtn{
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        width: 40px;
        height: 40px;
        cursor: pointer;
    }
    #menubtn>img:first-child{
        height: 100%;
        transition: all .3s;
    }
    #menubtn:hover>img:first-child{
        transform: rotate(180deg);
    }
    #header_align>img:nth-child(2){
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 0;
        right: 0;
        margin: 0 auto;
        width: 100px;
        height: auto;
        opacity: 0;
        transition: all .3s;
    }



    /* sidemenu */
    #sidemenu_bg{
        z-index: 1000;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background-color: rgba(0,0,0,.8);
        display: none;
    }
    #sidemenu{
        width: 300px;
        height: 100vh;
        position: fixed;
        top: 0;
        left: -300px;
        z-index: 1001;
        background-color: #fff;
        transition: all .3s;
    }
    #sidetop{
        position: relative;
        box-sizing: border-box;
        padding: 40px 50px 0 40px;
    }
    #sideclose{
        width: 25px;
        height: 25px;
        cursor: pointer;
        margin-bottom: 40px;
    }
    #sideclose>img{
        height: 100%;
        transition: all .3s;
    }
    #sideclose:hover>img{
        transform: rotate(180deg);
    }
    #sideinputbox{
        position: relative;
        width: 100%;
        height: 40px;
        margin-bottom: 40px;
    }
    #sideinputbox>input{
        border: 0;
        outline: 0;
        width: 100%;
        height: 100%;
        background-color: #f1f1f1;
        color: #767676;
        font-family: 'Oswald', sans-serif;
        font-size: 20px;
        padding-left: 10px;
    }
    #sideinputbox>img{
        width: 23px;
        height: 23px;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 0px;
        cursor: pointer;
    }
    #sidetop p,
    #sidetop a{
        font-family: 'Oswald', sans-serif;
        margin-bottom: 10px;
    }
    #sidetop p:last-child,
    #sidetop a:last-child{
        margin-bottom: 0;
    }
    .topic{
        font-weight: 100;
        font-size: 20px;
    }
    .sidetext{
        display: block;
        font-size: 25px;
        transition: all .3s;
    }
    .sidetext:hover{
        color: #ff0000;
    }
    #sidebottom{
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 300px;
        background-color: #000;
        box-sizing: border-box;
        padding: 40px 40px 0 40px;
    }
    #sidesns{
        margin-bottom: 20px;
    }
    #sidesns>a{
        margin-right: 20px;
    }
    #sidesns>a:first-child,
    #sidesns>a:nth-child(2){
        width: 22px;
        height: 22px;
    }
    #sidesns>a:nth-child(3),
    #sidesns>a:nth-child(4){
        width: 24px;
        height: 24px;
    }
    #sidesns>svg{
        width: 100%;
        height: 100%;
        cursor: pointer;
    }
    #sidebottom>a{
        display: block;
        color: #fff;
        font-size: 17px;
        margin-bottom: 20px;
        transition: all .3s;
    }
    #sidebottom>a:last-child{
        font-family: 'Oswald', sans-serif;
        margin-bottom: 0;
    }
    #sidebottom>a:hover{
        color: rgba(255,255,255,.7);
    }



    /* sec1 */
    #sec1{
        position: sticky;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        z-index: -111;
    }
    #sec1>video{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    #logo{
        width: 260px;
        height: auto;
        position: fixed;
        top: 50%;
        transform: translateY(-50%);
        left: 0;
        right: 0;
        margin: 0 auto;
        transition: all 5s;
        opacity: 0;
        z-index: 999999;
    }



    /* sec2 */
    #scrollmove{
        padding-top: 140px;
        padding-bottom: 120px;
    }
    #sec2_mobile{
        border: 1px solid rgba(255,255,255,.7);
        display: flex;
        align-items: center;
        justify-content: center;
        box-sizing: border-box;
    }
    #sec2_mobile>img{
        width: 65px;
        height: auto;
    }
    #sec2{
        position: relative;
        width: 100%;
        overflow: hidden;
        background-color: #000;
        padding: 200px 0 200px 0;
    }
    #sec2align{
        display: none;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    .sec2box{
        position: relative;
        display: block;
        width: 32.5%;
        height: 200px;
        overflow: hidden;
        margin-bottom: 8px;
    }
    .sec2box_margin{
        margin-bottom: 0;
    }
    .sec2box>p{
        font-family: 'Oswald', sans-serif;
        font-size: 22px;
        color: #fff;
        z-index: 1;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 0;
        right: 0;
        text-align: center;
    }
    .sec2box_hover{
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: rgba(0,0,0,.15);
        opacity: 1;
    }
    .sec2box>img{
        height: 100%;
    }
    #sec2_mobile{
        display: none;
    }



    /* mobile3_sec2_swiper */
    #mobile3_sec2swiper{
        overflow: hidden;
    }
    .mobile3_sec2swiper{
        margin-bottom: 80px;
    }
    .mobile3_sec2swiper_box{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    .m3_s2s_box{
        position: relative;
        display: block;
        width: 49%;
        height: 230px;
    }
    .m3_s2s_box>img{
        height: 100%;
    }
    .m3_s2s_box:nth-child(1),
    .m3_s2s_box:nth-child(2){
        margin-bottom: 8px;
    }
    .m3_s2s_text{
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        margin: 0 auto;
        background-color: rgba(0,0,0,.1);
    }
    .m3_s2s_text>p{
        font-family: 'Oswald', sans-serif;
        line-height: 230px;
        color: #fff;
        font-size: 25px;
    }
    #mobile3_sec2_btn{
        width: 30%;
        overflow: hidden;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    #mobile3_sec2_btn>p{
        background-color: red;
    }
    .mobile3_sec2_prev,
    .mobile3_sec2_next{
        width: 30px;
        height: 30px;
        cursor: pointer;
    }
    .mobile3_sec2_none{
        display: none;
    }



    /* sec3 */
    .sec3_align{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        margin-bottom: 100px;
    }
    .sec3box{
        display: block;
        position: relative;
        width: 49.1%;
        height: 250px;
        overflow: hidden;
        margin-bottom: 9px;
    }
    .mobile2_none{
        display: none;
    }
    .sec3box_margin{
        margin-bottom: 0;
    }
    .sec3box>img{
        height: 100%;
    }
    .sec3hover{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 90%;
        /* background-color: rgba(0,0,0,.35); */
        z-index: 111;
    }
    .sec3box:hover>.sec3hover{
        background-color: transparent;
    }
    .sec3text{
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 10%;
        box-sizing: border-box;
        padding: 5px;
        background-color: rgba(0,0,0,.5);
        display: flex;
        align-items: center;
    }
    .sec3text>p{
        color: #fff;
        font-size: 14px;
        width: 100%;
        height: 23px;
        display: -webkit-box;
        white-space: normal;
        word-wrap: break-word;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        overflow:hidden;
        text-overflow:ellipsis;
    }



    /* sec4 */
    .sec4{
        width: 100%;
        height: 350px;
        overflow: hidden;
        background-image: url(../img/sec4/sec4.jpg);
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }



    /* sec5 */
    .sec5box{
        width: 100%;
        overflow: hidden;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 80px;
    }
    .sec5box:last-child{
        margin-bottom: 0;
    }
    .sec5_allnone{
        display: none;
    }
    .sec5box>img{
        width: 60%;
        height:250px;
    }
    .sec5text{
        text-align: start;
        width: 35%;
    }
    .sec5box:nth-child(2)>.sec5text{
        text-align: end;
    }
    .sec5box:nth-child(2)>.sec5text>div{
        width: 100%;
        overflow: hidden;
        display: flex;
        justify-content: end;
    }
    .sec5text>p{
        color: #fff;
        margin-bottom: 15px;
    }
    .sec5text>p:first-child{
        font-family: 'Oswald', sans-serif;
        font-size: 17px;
    }
    .sec5text>p:nth-child(2){
        color: rgba(255,255,255,.8);
        font-size: 11px;
        font-weight: 100;
    }
    .sec5btn{
        font-family: 'Oswald', sans-serif;
        display: block;
        width: 45px;
        height: 23px;
        font-size: 13px;
        color: #fff;
        border-bottom: 1px solid #fff;
        text-align: center;
        line-height: 25px;
    }
    .sec5btn:hover{
        color: #ff0000;
        border-bottom: 1px solid #ff0000;
    }
    #sec5_mobile3none{
        display: none;
    }



    /* sec6 */
    #sec6con{
        width: 98%;
        overflow: hidden;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        margin-bottom: 80px;
    }
    .sec6box_margin{
        margin-bottom: 20px;
    }
    .sec6box{
        display: block;
        width: 32.6%;
        overflow: hidden;
    }
    .tab_none{
        display: none;
    }
    .mobile_none{
        display: none;
    }
    .sec6box>img{
        height: 220px;
        margin-bottom: 5px;
    }
    .sec6box>p{
        color: #fff;
        text-align: start;
        font-size: 13px;
        font-weight: lighter;
        width: 100%;
        height: 20px;
        display: -webkit-box;
        white-space: normal;
        word-wrap: break-word;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        overflow:hidden;
        text-overflow:ellipsis;
    }
    #sec6con2{
        display: none;
    }



    /* sec7 */
    .sec7_secname{
        margin-bottom: 5px;
    }
    .sec7_smalltext{
        font-family: 'Oswald', sans-serif;
        font-size: 15px;
        margin-bottom: 80px;
        color: #999999;
    }
    .sec7video{
        position: relative;
        display: block;
        height: 370px;
        margin-bottom: 8px;
    }
    .sec7video_hover{
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: rgba(0,0,0,.5);
        display: flex;
        align-items: center;
        justify-content: center;
        transition: all .8s linear;
        opacity: 0;
    }
    .sec7video_hover>p{
        font-family: 'Oswald', sans-serif;
        color: #fff;
        font-size: 80px;
    }
    /* .sec7video:hover>.sec7video_hover{
        opacity: 1;
    } */
    .sec7video>video{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .sec7swiper{
        margin-bottom: 80px;
    }
    .sec7slide>img{
        height: 300px;
    }
    #sec7btn{
        width: 35%;
        overflow: hidden;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .sec7next,
    .sec7prev{
        width: 25px;
        height: 25px;
        cursor: pointer;
    }
    .sec7next>img,
    .sec7prev>img{
        height: 100%;
    }



    /* sec8 */
    #sec8con{
        position: relative;
        width: 100%;
        overflow: hidden;
        margin: 0 auto;
    }
    #sec8con>a{
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 0;
        right: 0;
        margin: 0 auto;
        display: block;
        width: 90px;
        height: auto;
        z-index: 999;
    }
    #sec8con>a>img{
        height: 100%;
    }
    .sec8box>img{
        height: 460px;
    }



    /* footer */
    #footersection{
        padding-bottom: 50px;
    }
    footer{
        position: relative;
        width: 100%;
        overflow: hidden;
        text-align: center;
    }
    footer>img{
        width: 140px;
        height: auto;
        margin: 0 auto;
        margin-bottom: 30px;
    }
    footer>p{
        width: 80%;
        margin: 0 auto;
        font-family: 'Oswald', sans-serif;
        font-size: 13px;
        color: #767676;
        margin-bottom: 30px;
    }
    .footer_abox{
        width: 37%;
        overflow: hidden;
        margin: 0 auto;
    }
    .footer_abox>a{
        display: block;
        color: #767676;
        font-size: 15px;
        margin-bottom: 15px;
    }
    .footer_abox>a:hover{
        color: rgba(255,255,255,.8);
    }
}