/* wrap */
.wrap{ position: relative; width: 100%; overflow: hidden; }



/* header */
header{ position: relative; width: 100%; height: 44px; background-color: #000000cc; }
header ul{ width: 996px; line-height: 44px; display: flex; justify-content: space-between; margin: 0 auto; }
header ul li a{ color: #fff; font-size: 12px; transition: all .3s; }
header ul li a:hover{ color: rgba(255,255,255,.6); }
header ul li .apple{ font-size: 17px; }
header ul li .search{ font-size: 14px; }
header ul li .square{ font-size: 14px; }



/* sticky manu */
.sticky{ position: relative; width: 996px; margin: 0 auto; border-bottom: 1px solid rgba(0,0,0,.2); background-color: rgba(255,255,255,.7); backdrop-filter: blur(10px); z-index: 1; }
.sticky.on{ position: fixed; top: 0; left: 50%; transform: translateX(-50%); width: 100%; }
.sticky .align{ width: 996px; line-height: 48px; margin: 0 auto; display: flex; justify-content: space-between; }
.sticky .align h1{ font-size: 21px; font-weight: 500; }
.sticky .align .box{ font-size: 11px; }
.sticky .align .box a{ margin-left: 15px; }
.sticky .align .box a:hover{ color: #0071e3; }
.sticky .align .box span{ color: #999; pointer-events: none; }
.sticky .align .box a:last-child{ padding: 4px 10px; border-radius: 20px; color: #fff; background-color: #0071e3; }



/* sec1 */
.sec1{ position: relative; width: 100%; padding: 40px 0 250px 0; }
.sec1 .airpod{ width: 45%; margin: 0 auto; margin-bottom: 200px; }
.sec1 .text{ position: absolute; top: 23%; left: 50%; transform: translateX(-50%); width: 87%; z-index: -1; }
.sec1 h2{ width: 900px; margin: 0 auto; font-size: 28px; text-align: center; }



/* sec2 */
.sec2{ position: relative; width: 100%; height: 100vh; text-align: center; }
.sec2 video{ width: 100%; height: 100%; object-fit: cover; }
.sec2 .box{ position: absolute; top: 0; left: 0; width: 100%; height: 100%; background-color: rgba(0,0,0,.4); }
.sec2 .box h1{ position: absolute; top: 50%; left: 50%; width: 100%; transform: translate(-50%,-50%); font-size: 70px; color: #fff; }



/* sec3 */
.sec3{ position: relative; padding: 150px 0 300px 0; width: 1230px; margin: 0 auto; }
.sec3 h3{ font-size: 32px; margin-bottom: 10px; }
.sec3 h1{ font-size: 150px; letter-spacing: -10px; margin-bottom: 80px; float: left; }
.sec3 p:nth-child(3){ width: 614px; font-size: 30px; font-weight: 700; margin-bottom: 150px; float: right; }
.sec3 img{ margin-bottom: 20px; margin: 0 auto; }
.sec3 p:last-child{ font-size: 19px; color: #999; font-weight: 700; text-align: center; margin: 0 auto; }
.sec3 p:last-child span{ color: #000; }



/* sec4 */
.sec4{ position: relative; width: 85%; margin: 0 auto; }
.sec4 div{ width: 35%; float: right; }
.sec4 div:nth-child(2){ margin-bottom: 100px; float: right; }
.sec4 div img{ height: 756px; margin-bottom: 30px; }
.sec4 div p{ font-size: 19px; font-weight: 700; color: #999; }
.sec4 div p span{ color: #000; }
.sec4 .box01{ width: 60%;  float: left; overflow: hidden; }
.sec4 .box01 img{ height: 1500px; }



/* sec5 */
.sec5{ position: relative; padding: 200px 0 150px 0; clear: both; }
.sec5 p{position: absolute; bottom: 20%; left: 50%; transform: translateX(-50%); font-size: 24px; text-align: center; color: #d1e8fd; }
.sec5 p span{ color: #fff; }



/* sec6 */
.sec6{ position: relative; width: 85%; margin: 0 auto; padding: 150px 0 250px 0; }
.sec6 .btncon{ position: relative; width: 100%; display: flex; justify-content: space-between; margin-bottom: 100px; }
.sec6 .btncon h1{ width: 60%; font-size: 96px; letter-spacing: -8px; }
.sec6 .btncon ul{ width: 35%; height: 240px; display: flex; align-items: flex-end; }
.sec6 .btncon ul li{ width: 30px; height: 30px; border-radius: 50%; margin-right: 20px; }
.sec6 .btncon ul li a{ position: relative; display: block; width: 100%; height: 100%; border-radius: 50%; }
.sec6 .btncon ul li a::after{ display: none; content: ''; position: absolute; top: 50%; left: 50%; transform: translate(-50%,-50%); width: 35px; height: 35px; border: 1px solid #999; border-radius: 50%; }
.sec6 .btncon ul li a:hover::after{ display: block; }
.sec6 .btncon ul li a.on::after{ display: block; content: ''; position: absolute; top: 50%; left: 50%; transform: translate(-50%,-50%); width: 35px; height: 35px; border: 1px solid #999; border-radius: 50%;  }
.sec6 .btncon ul li a div{ position: relative; width: 100%; height: 100%; border-radius: 50%; overflow: hidden; }
.sec6 .btncon ul li a div span{ display: block; width: 100%; height: 50%; }
.sec6 .btncon ul li .white span:first-child{ background-color: #f5f4f0; }
.sec6 .btncon ul li .white span:last-child{ background-color: #777; }
.sec6 .btncon ul li .black span:first-child{ background-color: #3c3d3a; }
.sec6 .btncon ul li .black span:last-child{ background-color: #595759; }
.sec6 .btncon ul li .blue span:first-child{ background-color: #2f506c; }
.sec6 .btncon ul li .blue span:last-child{ background-color: #91a6bb; }
.sec6 .btncon ul li .red span:first-child{ background-color: #e4544d; }
.sec6 .btncon ul li .red span:last-child{ background-color: #d8a097; }
.sec6 .btncon ul li .green span:first-child{ background-color: #e7ece3; }
.sec6 .btncon ul li .green span:last-child{ background-color: #afbfab; }
.sec6 .slidecon{ display: flex; justify-content: space-between; }
.sec6 .slidecon .slide{ width: 1020px; overflow: hidden; }
.sec6 .slidecon .fade{ position: relative; width: 570px; height: 840px; }
.sec6 .slidecon .fade img{ position: absolute; top: 0; left: 0; width: 100%; height: 100%; opacity: 0; transition: all .3s; }
.sec6 .slidecon .fade img.on{ opacity: 1; }



/* sec7 */
.sec7{ width: 1230px; margin: 0 auto; padding-bottom: 250px; }
.sec7 h1{ font-size: 96px; text-align: center; letter-spacing: -2px; margin-bottom: 120px; }
.sec7 .con{ display: flex; justify-content: space-between; }
.sec7 .con div{ width: 27%; }
.sec7 .con div p{ font-size: 23px; font-weight: 700; letter-spacing: -1px; color: #000; margin-bottom: 20px; }
.sec7 .con div p:nth-child(2){ color: #777; margin-bottom: 0; }



/* sec8 */
.sec8{ width: 1230px; margin: 0 auto; padding-bottom: 200px; }
.sec8 h1{ font-size: 85px; text-align: center; letter-spacing: -4px; margin-bottom: 50px; }
.sec8 p{ text-align: center; font-size: 22px; font-weight: 700; letter-spacing: -1px; color: #777; margin-bottom: 100px; }
.sec8 p span{ color: #000; }



/* sec9 */
.sec9{ width: 1230px; margin: 0 auto; padding-bottom: 200px; }
.sec9 h2{ font-size: 80px; letter-spacing: -1px; text-align: center; }
.sec9 h1{ font-family: 'Roboto', sans-serif; font-size: 600px; text-align: center; margin: -50px 0 -70px 0; }
.sec9 p{ font-size: 20px; font-weight: 700; color: #777; text-align: center; width: 614px; margin: 0 auto; }



/* sec10 */
.sec10{ width: 1606px; margin: 0 auto; padding-bottom: 200px; }
.sec10 > div{ display: flex; align-items: center; justify-content: space-between; background-color: #f2f2f2; }
.sec10 > div .text h1{ font-size: 48px; margin-bottom: 30px; letter-spacing: -1px; }
.sec10 > div .text a{ font-size: 18px; font-weight: 700; color: #0071e3; }
.sec10 .box01{ margin-bottom: 30px; }
.sec10 .box01 img{ width: 43%; height: 480px; }
.sec10 .box01 .text{ margin-left: 300px; }
.sec10 .box01 .text p{ font-size: 16px; color: #777; margin-bottom: 10px; }
.sec10 .box02{ height: 480px; }
.sec10 .box02 img{ width: 381px; height: 381px; margin-left: 300px; border-radius: 20px; box-shadow: 0 2px 10px 2px rgba(0,0,0,.4); }
.sec10 .box02 .text{ margin-right: 156px; }
.sec10 .box02 .text .svg{ width: 107px; height: 26px; }



/* footer */
footer{ width: 100%; padding: 100px 0 50px 0; background-color: #f5f5f7; }
footer .align{ width: 980px; margin: 0 auto; }
footer .align .con01{ padding-bottom: 20px; margin-bottom: 20px; border-bottom: 1px solid rgba(0,0,0,.2); font-size: 12px; color: #6e6e73;  }
footer .align .con01 p{ margin-bottom: 10px; }
footer .align .con01 ol{ padding-left: 13px; }
footer .align .con01 ol li{ list-style: decimal; margin-bottom: 10px; }
footer .align .con01 ol li:last-child{ margin-bottom: 0; }
footer .align .con02{ margin-bottom: 50px; }
footer .align .con02 .box01{ display: flex; margin-bottom: 20px; }
footer .align .con02 .box01 a{ position: relative; padding-right: 40px; font-size: 12px; }
footer .align .con02 .box01 a::after{ content: '-'; position: absolute; right: 20px; top: 50%; transform: translateY(-50%); }
footer .align .con02 .box01 a:last-child::after{ display: none; }
footer .align .con02 .box02{ width: 100%; display: flex; justify-content: space-between; font-size: 12px; }
footer .align .con02 .box02 h3{ margin-bottom: 10px; letter-spacing: -1px; }
footer .align .con02 .box02 a{ display: block; margin-bottom: 10px; }
footer .align .con02 .box02 a:hover{ text-decoration: underline; }
footer .align .con03 .box01{ font-size: 12px; color: #999; padding-bottom: 13px; margin-bottom: 13px; border-bottom: 1px solid rgba(0,0,0,.2); }
footer .align .con03 .box01 a{ color: #0071e3; }
footer .align .con03 .box02 p{ font-size: 12px; color: #999; float: left; margin-right: 20px; }
footer .align .con03 .box02 ul{ float: left; }
footer .align .con03 .box02 ul li{ float: left; }
footer .align .con03 .box02 ul li a{ font-size: 12px; font-weight: 700; color: #999; margin-right: 10px; }
footer .align .con03 .box02 a:last-child{ font-size: 12px; color: #999; float: right; }
