@media (max-width: 450px) {



    /* 공통 */
    .cursor{
        display: none;
    }
    #wrap{
        position: relative;
        width: 100%;
    }
    .align{
        position: relative;
        width: 80%;
        overflow: hidden;
        margin: 0 auto;
    }
    .mockup_s>p:nth-child(1){
        display: none;
    }
    .mobile_menu{
        display: none;
    }
    #vogue_mobile_none{
        display: none;
    }



    /* intro */
    #intro{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background-color: #fff;
        text-align: center;
        line-height: 100vh;
        font-size: 30px;
        font-weight: bold;
        z-index: 4;
        display: none;
        pointer-events: none;
    }



    /* menu */
    #menu{
        position: fixed;
        top: 15px;
        left: 15px;
        z-index: 1;
        display: none;
    }
    #menu>li{
        float: left;
        margin-right: 10px;
    }
    #menu>li>a{
        font-size: 15px;
    }
    .a_hover{
        color: #b48484;
    }
    #welcome{
        position: fixed;
        top: 15px;
        right: 15px;
        font-size: 15px;
        z-index: 1;
        display: none;
    }
    #twotwo{
        position: fixed;
        bottom: 15px;
        left: 15px;
        font-size: 15px;
        z-index: 1;
        display: none;
    }



    /* mobile2_menu */
    #mobile_welcome{
        position: relative;
        top: 30px;
        text-align: center;
    }
    #mobile_welcome>p{
        font-size: 19px;
        font-weight: bold;
        color: rgba(0,0,0,.6);
    }
    #mobile_menudot{
        position: fixed;
        right: 15px;
        top: 35px;
        z-index: 1;
        cursor: pointer;
        width: 20px;
        height: 14px;
    }
    #mobile_menudot>div{
        height: 1.3px;
        border-radius: 3px;
        transition: all .3s;
    }
    #mobile_menudot>div:first-child{
        width: 75%;
        position: absolute;
        top: 0;
        right: 0;
    }
    .menudot_left{
        left: 0;
    }
    #mobile_menudot>div:nth-child(2){
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 0;
        width: 100%;
    }
    #mobile_menudot>div:last-child{
        width: 75%;
        position: absolute;
        bottom: 0;
        left: 0;
    }
    .menudot_right{
        right: 0;
    }
    .mobile2_menubox{
        position: fixed;
        top: 0;
        right: -100%;
        width: 100%;
        height: 100vh;
        z-index: 2;
        opacity: 0;
        background-color: #fff;
        transition: all .3s ease;
    }
    .menubox2_toggle{
        right: 0;
        opacity: 1;
    }
    .mobile2_menubox>div{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
    }
    .mobile2_menubox>div>a{
        display: block;
        text-align: center;
        font-family: 'Playfair Display', serif;
        font-size: 40px;
        margin-bottom: 15px;
        transition: all .3s ease;
    }
    .mobile2_menubox>div>a:last-child{
        margin-bottom: 0;
    }
    .mobile2_menubox>div>a:hover{
        color: rgba(0,0,0,.4);
    }
    .mobile2_menubox>button{
        font-family: 'Playfair Display', serif;
        font-size: 20px;
        position: absolute;
        top: 30px;
        right: 15px;
        color: rgba(0,0,0,.4);
    }
    .mobile2_menubox>button:hover{
        color: #000;
    }
    .mobile2_menubox>p{
        position: absolute;
        bottom: 30px;
        width: 100%;
        text-align: center;
        font-size: 20px;
        color: rgba(0,0,0,.4);
    }



    /* sec1 */
    #sec1{
        position: relative;
        width: 100%;
        height: 150vh;
        margin-bottom: -400px;
    }
    .face_img{
        position: absolute;
        top: 60px;
        left: 0;
        right: 0;
        margin: 0 auto;
        width: 80%;
        height: 450px;
        margin: 0 auto;
        z-index: 0;
    }
    #mobile2_year{
        position: absolute;
        top: 5px;
        right: 10px;
        font-size: 13px;
    }
    .face_img>img{
        height: 100%;
    }
    .text_img{
        position: absolute;
        width: 100%;
        top: 35.7%;
        left: 50%;
        height: 260px;
        transform: translateX(-50%);
        margin-top: 50px;
    }
    .img1{
        z-index: 1;
    }
    .img1>img:nth-child(1){
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 270px;
        height: auto;
    }
    .img1>img:nth-child(2){
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 250px;
        height: auto;
    }
    .img2>img{
        width: 330px;
        height: auto;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
    }



    /* sec2 */
    #sec2{
        color: #fff;
        padding-top: 100px;
        text-align: center;
    }
    .sec2_big{
        font-size: 20px;
        margin-bottom: 40px;
        font-weight: bold;
    }
    .sec2_margin{
        margin-bottom: 70px;
    }
    .sec2_big>span{
        color: rgba(255,255,255,.4);
    }

    .sec2_small{
        font-size: 15px;
    }
    .sec2_planText{
        color: rgba(255,255,255,.4);
        padding-left: 5px;
    }
    .sec2_small>div:nth-child(1){
        margin-bottom: 100px;
    }
    .sec2_small>div:nth-child(1)>div:nth-child(1){
        margin-bottom: 80px;
    }
    .smallbox>p:nth-child(1){
        color: rgba(255,255,255,.4);
        margin-bottom: 20px;
    }
    .smallbox>p{
        margin-bottom: 7px;
    }

    .skillbox{
        display: flex;
        align-items: center;
        margin-bottom: 12px;
    }
    #native_none{
        display: none;
    }
    .skillbox>p{
        width: 80px;
        text-align: end;
        margin-right: 20px;
    }
    #mobile3_size{
        font-size: 13px;
    }
    .skillbox>div{
        position: relative;
        width: 250px;
        height: 4px;
        border-radius: 4px;
        background-color: rgba(255,255,255,.25);
    }
    .skillbox>div>div{
        position: absolute;
        top: 0;
        left:0;
        height: 100%;
        border-radius: 5px;
        transition: all .3s ease;
    }
    #html{
        width: 90%;
    }
    #css{
        width: 90%;
    }
    #jquery{
        width: 85%;
    }
    #javascript{
        width: 85%;
    }
    #figma{
        width: 90%;
    }
    #ps{
        width: 80%;
    }
    #ai{
        width: 80%;
    }
    #react{
        width: 80%;
    }
    #vue{
        width: 80%;
    }
    #react_native{
        width: 80%;
    }



    /* sec3 */
    #sec3{
        position: relative;
        width: 100%;
        height: 127vh;
        padding-top: 150px;
    }
    #sec3_work{
        width: 90%;
        height: auto;
        position: sticky;
        top: 50%;
        transform: translateY(-50%);
        margin: 0 auto;
        z-index: 0;
        display: none;
    }
    #sec3_work>img{
        height: 100%;
    }
    .sec3_align>div{
        height: 200px;
        margin-bottom: 80px;
        cursor: pointer;
        transition: all .1s ease;
    }
    .sec3_align>div:last-child{
        margin-bottom: 0;
    }
    .sec3_align>div>img{
        height: 100%;
    }
    #bens{
        margin-top: 150px;
    }
    


    /* sec3_mobile_workImg */
    .mobile_workImg{
        position: sticky;
        top: 50%;
        transform: translateY(-50%);
        margin: 0 auto;
        width: 90%;
    }



    /* footer */
    footer{
        text-align: center;
        padding: 150px 0 15px 0;
    }
    #github{
        display: block;
        margin: 0 auto;
        width: 80px;
        height: 80px;
        margin-bottom: 30px;
        transition: all .1s;
    }
    #github:hover{
        transform: scale(.9);
    }
    footer>p:nth-child(2),
    footer>p:nth-child(3),
    footer>p:nth-child(4){
        font-size: 15px;
    }
    footer>p:nth-child(4){
        margin-bottom: 30px;
    }
    footer>p:last-child{
        font-size: 12px;
        color: rgba(0,0,0,.4);
    }



}