@media (min-width: 1201px) {



    /* 공통 */
    #wrap{
        position: relative;
        width: 100%;
    }
    .align{
        position: relative;
        width: 1200px;
        overflow: hidden;
        margin: 0 auto;
    }
    .mockup_s>p:nth-child(2){
        display: none;
    }
    .mobile2_menu{
        display: none;
    }
    .mobile_workImg{
        display: none;
    }
    .mockup_slider{
        display: none;
    }
    #mobile2_year{
        display: none;
    }
    .mobile2_menubox{
        display: none;
    }
    #vogue_pc_none{
        display: none;
    }



    /* intro */
    .intro__first{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background-color: #fff;
        text-align: center;
        line-height: 100vh;
        font-size: 50px;
        font-weight: bold;
        z-index: 4;
        display: none;
        pointer-events: none;
    }



    /* menu */
    #menu{
        position: fixed;
        top: 40px;
        left: 40px;
        z-index: 1;
    }
    #menu>li{
        float: left;
        margin-right: 20px;
    }
    #menu>li>a{
        font-size: 19px;
    }
    #welcome{
        position: fixed;
        top: 40px;
        right: 40px;
        font-size: 19px;
        z-index: 1;
    }
    #twotwo{
        position: fixed;
        bottom: 40px;
        left: 40px;
        font-size: 19px;
        z-index: 1;
    }



    /* sec1 */
    #sec1{
        position: relative;
        width: 100%;
        height: 200vh;
        margin-bottom: -250px;
    }
    .face_img{
        position: sticky;
        top: 50%;
        transform: translateY(-50%);
        width: 480px;
        height: 650px;
        margin: 0 auto;
        z-index: 0;
    }
    .face_img>img{
        height: 100%;
    }
    .text_img{
        position: absolute;
        top: 16%;
        left: 50%;
        height: 880px;
        transform: translateX(-50%);
        margin-top: 50px;
    }
    .img1{
        z-index: -1;
    }
    .img1>img:nth-child(1){
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 1025px;
        height: auto;
    }
    .img1>img:nth-child(2){
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 959px;
        height: auto;
    }
    .img2>img{
        width: 1237px;
        height: auto;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
    }



    /* sec2 */
    #sec2{
        color: #fff;
        padding-top: 150px;
        margin-bottom: 200px;
    }
    .sec2_big{
        font-size: 50px;
        margin-bottom: 50px;
        font-weight: bold;
    }
    .sec2_margin{
        margin-bottom: 250px;
    }
    .sec2_big>span{
        color: rgba(255,255,255,.4);
    }
    .sec2_small{
        font-size: 30px;
    }
    .smallbox>p:nth-child(1){
        font-size: 50px;
        margin-bottom: 80px;
        text-align: center;
        font-weight: 900;
    }
    .smallbox .box{
        text-align: center;
        margin-bottom: 50px;
    }
    .smallbox .box p{
        font-size: 22px;
        color: rgba(255,255,255,.4);
        margin-bottom: 15px;
    }
    .smallbox .box span{
        margin-right: 10px;
    }
    .smallbox .box span:last-child{
        margin-right: 0;
    }
    


    /* sec3 */
    #sec3{
        position: relative;
        width: 100%;
        height: 495vh;
    }
    #sec3_work{
        width: 90%;
        height: auto;
        position: sticky;
        top: 50%;
        transform: translateY(-50%);
        margin: 0 auto;
        z-index: 0;
    }
    #sec3_work>img{
        height: 100%;
    }
    .sec3__div{
        position: relative;
        width: 80%;
        height: 630px;
        padding-bottom: 150px;
        margin: 0 auto;
        transition: all .1s ease;
    }
    .sec3__div:first-child{
        margin-top: 350px;
    }
    .sec3_div:last-child{
        padding-bottom: 0;
    }
    .sec3__div-video{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .sec3__div-info{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 630px;
        background-color: rgba(0,0,0,.1);
        z-index: 1;
        opacity: 0;
        transition: all .3s linear;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .sec3__div-info.vogue{
        background-color: rgba(255,255,255,.2);
    }
    .sec3__div:hover .sec3__div-info{
        backdrop-filter: blur(5px);
        opacity: 1;
    }
    .sec3_div-infoflex{
        position: relative;
    }
    .sec3__div-info-title{
        font-size: 36px;
        font-weight: bold;
        margin-bottom: 10px;
        font-family: 'Gowun Batang', serif;
    }
    .sec3__div-info-text{
        font-size: 19px;
        font-weight: bold;
        color: rgba(0,0,0,.85);
        margin-bottom: 50px;
    }
    .sec3__div-info-textspan{
        margin-right: 5px;
        font-family: 'Gowun Batang', serif;
    }
    .sec3__div-info-textspan:last-child{
        margin-right: 0;
    }
    .sec3__div-info-btn{
        position: relative;
        font-size: 19px;
    }
    .sec3__div-info-btn::after{
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 0;
        height: 1px;
        background-color: #000;
        transition: all .3s;
    }
    .sec3__div-info-btn:hover::after{
        width: 100%;
    }



    /* footer */
    footer{
        text-align: center;
        padding: 150px 0 50px 0;
    }

    #github{
        display: block;
        margin: 0 auto;
        width: 75px;
        height: 75px;
        margin-bottom: 50px;
        transition: all .1s;
    }
    #github:hover{
        transform: scale(.9);
    }
    footer>p:nth-child(2),
    footer>p:nth-child(3),
    footer>p:nth-child(4){
        font-size: 19px;
    }
    footer>p:nth-child(4){
        margin-bottom: 50px;
    }
    footer>p:last-child{
        font-size: 19px;
        color: rgba(0,0,0,.4);
    }



}