@media (min-width: 768px) and (max-width: 1200px) {



    /* 공통 */
    #wrap{
        position: relative;
        width: 100%;
    }
    .align{
        position: relative;
        width: 75%;
        overflow: hidden;
        margin: 0 auto;
    }
    .mockup_s>p:nth-child(2){
        display: none;
    }
    .mobile2_menu{
        display: none;
    }
    .mobile_workImg{
        display: none;
    }
    .mockup_slider{
        display: none;
    }
    #mobile2_year{
        display: none;
    }
    .mobile2_menubox{
        display: none;
    }
    #vogue_pc_none{
        display: none;
    }



    /* intro */
    #intro{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background-color: #fff;
        text-align: center;
        line-height: 100vh;
        font-size: 36px;
        font-weight: bold;
        z-index: 4;
        display: none;
        pointer-events: none;
    }



    /* menu */
    #menu{
        position: fixed;
        top: 30px;
        left: 30px;
        z-index: 1;
    }
    #menu>li{
        float: left;
        margin-right: 15px;
    }
    #menu>li>a{
        font-size: 17px;
    }
    .a_hover{
        color: #b48484;
    }
    #welcome{
        position: fixed;
        top: 30px;
        right: 30px;
        font-size: 17px;
        z-index: 1;
    }
    #twotwo{
        position: fixed;
        bottom: 30px;
        left: 30px;
        font-size: 17px;
        z-index: 1;
    }



    /* sec1 */
    #sec1{
        position: relative;
        width: 100%;
        height: 180vh;
        margin-bottom: -250px;
    }
    .face_img{
        position: sticky;
        top: 50%;
        transform: translateY(-50%);
        width: 385px;
        height: 520px;
        margin: 0 auto;
        z-index: 0;
    }
    .face_img>img{
        height: 100%;
    }
    .text_img{
        position: absolute;
        top: 18%;
        left: 50%;
        height: 670px;
        transform: translateX(-50%);
        margin-top: 50px;
    }
    .img1{
        z-index: -1;
    }
    .img1>img:nth-child(1){
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 750px;
        height: auto;
    }
    .img1>img:nth-child(2){
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 720px;
        height: auto;
    }
    .img2>img{
        width: 900px;
        height: auto;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
    }



    /* sec2 */
    #sec2{
        color: #fff;
        padding-top: 150px;
        margin-bottom: 100px;
    }
    .sec2_big{
        font-size: 36px;
        margin-bottom: 50px;
        font-weight: bold;
    }
    .sec2_margin{
        margin-bottom: 150px;
    }
    .sec2_big>span{
        color: rgba(255,255,255,.4);
    }
    .sec2_small{
        display: flex;
        justify-content: space-between;
        font-size: 17px;
    }
    .sec2_planText{
        font-size: 16px;
        color: rgba(255,255,255,.4);
        padding-left: 10px;
    }
    .sec2_small>div:nth-child(1)>div:nth-child(1){
        margin-bottom: 80px;
    }
    .smallbox>p:nth-child(1){
        color: rgba(255,255,255,.4);
        margin-bottom: 30px;
    }
    .smallbox>p{
        margin-bottom: 10px;
    }
    .skillText>p{
        padding-left: 80px;
    }

    .skillbox{
        display: flex;
        align-items: center;
        margin-bottom: 10px;
    }
    .skillbox>p{
        width: 135px;
        text-align: end;
        margin-right: 20px;
    }
    .skillbox>div{
        position: relative;
        width: 280px;
        height: 4px;
        border-radius: 4px;
        background-color: rgba(255,255,255,.25);
    }
    .skillbox>div>div{
        position: absolute;
        top: 0;
        left:0;
        height: 100%;
        border-radius: 5px;
        transition: all .3s ease;
    }
    #html{
        width: 90%;
    }
    #css{
        width: 90%;
    }
    #jquery{
        width: 85%;
    }
    #javascript{
        width: 85%;
    }
    #figma{
        width: 90%;
    }
    #ps{
        width: 80%;
    }
    #ai{
        width: 80%;
    }
    #react{
        width: 80%;
    }
    #vue{
        width: 80%;
    }
    #react_native{
        width: 80%;
    }



    /* sec3 */
    #sec3{
        position: relative;
        width: 100%;
        height: 260vh;
        padding-top: 250px;
    }
    #sec3_work{
        width: 90%;
        height: auto;
        position: sticky;
        top: 50%;
        transform: translateY(-50%);
        margin: 0 auto;
        z-index: 0;
    }
    #sec3_work>img{
        height: 100%;
    }
    .sec3_align>div{
        height: 550px;
        margin-bottom: 150px;
        cursor: pointer;
        transition: all .1s ease;
    }
    .sec3_align>div:last-child{
        margin-bottom: 0;
    }
    .sec3_align>div>img{
        height: 100%;
    }
    #bens{
        margin-top: 150px;
    }



    /* footer */
    footer{
        text-align: center;
        padding: 200px 0 30px 0;
    }
    #github{
        display: block;
        margin: 0 auto;
        width: 70px;
        height: 70px;
        margin-bottom: 30px;
        transition: all .1s;
    }
    #github:hover{
        transform: scale(.9);
    }
    footer>p:nth-child(2),
    footer>p:nth-child(3),
    footer>p:nth-child(4){
        font-size: 17px;
    }
    footer>p:nth-child(4){
        margin-bottom: 30px;
    }
    footer>p:last-child{
        font-size: 17px;
        color: rgba(0,0,0,.4);
    }



}